.main {
  position: fixed;
  height: 100%;
  width: 65%;
  overflow: hidden;
  background: $dashboard-dark;
}

.c-e-cards {
  position: relative;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  overflow: auto;
  height: 100%;
}
.c-e-card {
  width: 150px;
  height:245px;
  padding: 10px;
  margin: 13px 17px;
  background: #fff;
  border-radius: 4px;
}
.map {
  width: 100%;
  height: 110px;
  background: #ccc;
}

.upcoming {
  margin-left: 65%;
}
// .new-address-wrapper {
//   //background: #5FBA7D;
//   background: #ccc;
//   border-radius: 5px;
//   margin: 0 8px;
//   padding: 8px;
// }
