<template name="home">
  <div class="c-e-cards">
    <div class="c-e-card">
      <div class="map"></div>
    </div>
    <div class="c-e-card"></div>
    <div class="c-e-card"></div>
    <div class="c-e-card"></div>
    <div class="c-e-card"></div>
    <div class="c-e-card"></div>
    <div class="c-e-card"></div>
    <div class="c-e-card"></div>
    <div class="c-e-card"></div>
    <div class="c-e-card"></div>
    <div class="c-e-card"></div>
    <div class="c-e-card"></div>
    <div class="c-e-card"></div>
    <div class="c-e-card"></div>
    <div class="c-e-card"></div>
    <div class="c-e-card"></div>
  </div>
</template>
