<template name="singleViewingEdit">
  {{#if Template.subscriptionsReady}}
  {{#with viewing}}
  <div class="flex-container">
    <div id="map" class="map">{{> googleMap name="exampleMap" options=exampleMapOptions}}</div>
    <div class="single-user">
      Kevin Korte
    </div>
    <div class="address-update">
      {{ viewing.address }}
    </div>
  </div>



{{#autoForm collection="Viewings" id="editViewings" type="update" doc=this}}

{{/autoForm}}
{{/with}}
{{else}}
<p>Loading</p>
{{/if}}
</template>
